<%- layout('layouts/boilerplate') %>
<div class="row align-items-center">
  <div class="col-md-4 offset-md-4 text-center border rounded shadow">
    <img src="/images/tau.png" alt="" class="img-fluid w-50" />
    <h1 class="display-5">Admin Login</h1>
    <form action="/admin" method="POST">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="username"
          name="username"
        />
        <label for="username">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          name="password"
        />
        <label for="password">Password</label>
      </div>
      <input
        type="submit"
        value="Login"
        class="btn btn-success btn-lg d-block w-100 py-2 my-3"
      />
    </form>
  </div>
</div>
