.circle-marker {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  position: relative;
}

.circle-marker img {
  height: 35px;
  width: 35px;
}

.circle-marker p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color:rgba(0, 0, 0, 0.5)
}

.marker-cluster {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
  position: relative;
}

.marker-cluster img {
  height: 40px;
  width: 40px;
}

.marker-cluster p {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -90%);
  /* border-radius: 50%; */
  display: block;
  width: 80%;
  background: rgba(0, 0, 0, 0.452);
  padding: 0;
  margin: 0;
}
.reduce {
  padding: 0.2em 1em;
}
